<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Yail" %>
    <meta name="description" content="Real-time collaborative queue for Spotify">
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="mx-auto container justify-center h-screen">
    <div class="px-6 md:px-16 py-4 flex flex-col justify-between h-screen prose max-w-none">
      <div>
        <header class="px-4 py-4 md:px-16 md:py-8">
          <section class="flex justify-between content-between items-center">
            <a href="/">
              <div class="flex flex-row items-center gap-3">
                <img src="<%= Routes.static_path(@conn, "/images/logo.svg") %>" class="w-8 h-8 m-0">
                <span class="hidden md:block text-2xl	font-bold">Yail</span>
              </div>
            </a>
            <nav role="navigation">
              <%= if assigns[:is_authenticated] do %>
                <a href="/reset" class="link">Reset room</a>
                <a href="/logout" class="link">Logout</a>
              <% else %>
                <a href="/login" class="link">Login</a>
              <% end %>
            </nav>
          </section>
        </header>
        <div class="py-4">
          <%= @inner_content %>
        </div>
      </div>
      <footer class="justify-center w-full left-0 bottom-0">
        <div class="mx-auto container flex justify-center md:justify-between content-center items-center p-4">
          <a class="hidden md:block" href="https://shellbear.me/">made by shellbear</a>
          <div class="flex">
            <a class="link" href="/privacy">Privacy</a>
            <a class="link" href="mailto:hello@shellbear.me">Contact</a>
            <a class="link" href="https://github.com/shellbear/yail">Github</a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
